.slider {
  width: 640px;
  position: relative;
  overflow: hidden;
}

.slider .container {
  white-space: nowrap; /* para alinear sin importar uno al lado de otro si que rompa fila*/
  position: relative;
  transition: all 0.3s;
  left: 0%;
}
/*como buena practica, tambien incluir*/
.slider .container * {
  white-space: normal; /* para alinear sin importar uno al lado de otro si que rompa fila*/
}
.slider img {
  width: 100%;

  display: inline-block; /*una al lado de la otra*/
  margin: -2px;
}

.slider .controls ul {
  padding: 0px;
  text-align: center;
  position: absolute;
  bottom: 1em;
  margin: 0px;
  width: 100%;
  z-index: 5;
}

.slider .controls li {
  list-style-type: none;
  background-color: #444;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
}

.slider .controls li.active {
  background-color: rgb(50, 50, 150);
}
